{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        },
        "exclude": ["@babel/plugin-transform-dynamic-import"]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread"
  ]
}